<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  

  <header class="row">
  <h1 class="large-12 columns">Sneaker Show Off</h1>
    <div class="large-9 columns">
      <%= link_to 'Sneakers List', sneakers_path, class: 'button' %>
      <%= link_to 'Makes List', makes_path, class: 'button' %>
      <%= link_to 'Users List', users_path, class: 'button' %>
    </div>
    <div class="large-3 columns">
    <% if current_user %>
       <%= current_user.email %>
       <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
       <%= link_to "Sign In", new_user_session_path %>
       <%= link_to "Register", new_user_registration_path %>
    <% end %>
    </div>
  </header>
  <body class="row">

  

    <%= yield %>

  </body>
</html>
