<p id="notice"><%= notice %></p>
  <div class="row extra_margin">
    <% @makes.each do |make| %>
    <hr>
    <%= link_to(make) do %>
      <div class="make-logo" style="background-image:url(<%= make.image %>)">
        <div class="small-6 large-3 inline-block">
          <% @sum = 0 %>
          <% make.sneakers.each do |value| %>
            <% @sum += value.get_upvotes.size.to_i %>
          <% end %>
          <% if @sum == 0 %>
            <p><%="#{make.name} has not like yet :-("%></p>
          <% elsif @sum >1 %>
            <p><%="#{make.name}, #{@sum} likes"%></p>
          <% else %>
            <p><%="#{make.name}, #{@sum} like"%></p>
          <% end %>
        </div>
      </div>
      <h4>New in:</h4>
      <div class="row">
        <% make.sneakers.first(4).each do |value| %>
          <div class="small-2 large-2 inline-block">
            <%= image_tag value.image %>
          </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
<br>




