<p id="notice"><%= notice %></p>
<hr>
  <div class="row">
    <% @makes.each do |make| %>
    
    <%= link_to(make) do %>
      <div class="make-logo extra_margin" style="background-image:url(<%= make.image %>)">
        <div class="small-6 large-3 inline-block">
        <h3 class="bold"><%= make.name %></h3>
          <% @sum = 0 %>
          <% make.sneakers.each do |value| %>
            <% @sum += value.get_upvotes.size.to_i %>
          <% end %>
          <% if @sum == 0 %>
          <% elsif @sum >1 %>
            <p><%="#{@sum} likes"%></p>
          <% else %>
            <p><%="#{@sum} like"%></p>
          <% end %>
        </div>
      </div>

      <div class="row extra_margin">

        <h4>Fresh in</h4>

        <% make.sneakers.order('created_at ASC').first(5).each do |value| %>

          <div class="small-2 large-2 inline-block">

            <%= image_tag value.image %>

          </div>

        <% end %>

      </div>

    <% end %>

    <hr>

  <% end %>
</div>





