<p id="notice"><%= notice %></p>

<div class="row">

  <div class="small-6 large-8 columns">

    <h3>Top rated!</h3>

  </div>

  <div class="small-6 large-4 columns text-align-right">

    <div class="button info upload_button">

      <i class="fa fa-plus"></i>

      <%= link_to 'Add a new ', new_sneaker_path  %>

    </div>

  </div>

</div>

<div class="row">

  <% @sneakers.each do |sneaker| %>

    <div class="small-12 medium-6 large-4 columns text-align-left">

      <%= link_to(sneaker) do %>
      
      <div class="th sneaker_callout" style="background-image:url(<%= sneaker.image %>)"></div>

      <% end %>

      <div class="margin-bottom">
        <%= link_to like_sneaker_path(sneaker), class: "like-button" do %>

          <%= image_tag "106005-200.png", class: "sneaker_icon"%>  

        <% end %>
      
      <% @number = sneaker.get_upvotes.size %>

      <span class="vote">This sneaker has <span class="vote-count"><%= "#{@number}" %></span> likes!</span>

      </div>

    </div>
  <% end %>
</div>

<br>
