<h2>Welcome at <%= @user.username %>'s profile</h2>

<br>

<h3>Sneaker this  <%= @user.username %> likes:</h3>

<hr>

<div class="row">
    <% @user.find_voted_items.each do |vote| %>
    <div class="small-2 large-2 inline-block">
        <%= link_to sneaker_path(vote) do %>
        <%= image_tag vote.image %>
        <% end %>
    </div>
    <% end %>
</div>

<hr>

<h3><%= @user.username %>'s uploads</h3>

<div class="row">

  <% @user.sneakers.order("created_at desc").each do |sneaker| %>

    <%= link_to(sneaker) do %>

      <div class="small-12 large-4 columns text-align-left">

        <div class="th sneaker_callout" style="background-image:url(<%= sneaker.image %>)"></div>

      <%= link_to like_sneaker_path(sneaker), method: :put, class: "margin-bottom" do %>

        <span class="vote"><%= sneaker.get_upvotes.size %></span>

        <%= image_tag "106005-200.png", class: "sneaker_icon"%>

      <% end %>

      </div>

    <% end %>

  <% end %>

  <hr>
  
  <%= link_to "Edit profile", edit_user_password_path(@user), class: 'button tiny nav_button_margin'%>

  <%= link_to "log out", destroy_user_session_path, method: :delete, class: 'button tiny nav_button_margin'%>

</div>

