<h2>Welcome at <%= @user.username %>'s profile</h2>
<br>

<h3>Sneaker this  <%= @user.username %> likes:</h3>
<hr>

<div class="row">
  <p>This user has liked: <%= @user.find_voted_items.count %></p>
  <% @user.find_voted_items.each do |vote| %>
  <div class="small-2 large-2 inline-block">
    <%= link_to sneaker_path(vote) do %>
      <%= image_tag vote.image %>
    <% end %>
  </div>
  <% end %>
</div>

<hr>

<h3><%= @user.username %>'s uploads</h3>

<div class="row">

  <%= render @user.sneakers.order("created_at desc") %>
  <hr>
  
  <%= link_to "Edit profile", edit_user_registration_path(@user), class: 'button tiny nav_button_margin'%>
  <%= link_to "log out", destroy_user_session_path, method: :delete, class: 'button tiny nav_button_margin'%>
</div>