<p id="notice"><%= notice %></p>

<h1>Listing Makes</h1>

  <div class="row">
    <% @makes.each do |make| %>
    <%= link_to(make) do %>
      <div>
        <div class="small-6 large-3 inline-block">
          <p><%= image_tag make.image %></p>
        </div>
      </div>
      <div class="row">
        <% make.sneakers.first(4).each do |value| %>
          <div class="small-2 large-2 inline-block">
            <%= image_tag value.image %>
          </div>
        <% end %>
      </div>
    <% end %>
    <hr>
    <% end %>
  </div>
<br>

<%= link_to 'New Make', new_make_path %>
