<p id="notice"><%= notice %></p>

<h1>Last new added</h1>
  <div class="row">
    <% @sneakers.each do |sneaker| %>
      <%= link_to(sneaker) do %>
        <div class="small-12 large-4 columns text-align-left">
          <div class="th sneaker_callout" style="background-image:url(<%= sneaker.image %>)"></div>
          <%= link_to like_sneaker_path(sneaker), method: :put, class: "th margin-bottom" do %>
            <span class="vote"><%= sneaker.get_upvotes.size %></span>
            <%= image_tag "106005-200.png", class: "sneaker_icon"%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<br>

<%= link_to 'New Sneaker', new_sneaker_path %>

