<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @sneaker.type_of %>
  <br>

  <strong>Uploaded by:</strong>
  <%= @sneaker.user.username %>
  <br>

  <strong>Make:</strong>
  <%= @sneaker.make.name %>
</p>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
   <%= image_tag @sneaker.image %>
   </div>
</div>
<br>

<p>
  <strong>Discription:</strong>
  <%= @sneaker.discription %>
</p>

<p>
  <hr>
  <div class="margin-bottom">
    <%= link_to like_sneaker_path(@sneaker), class: "like-button" do %>
      <%= image_tag "106005-200.png", class: "sneaker_icon"%>  
    <% end %>
  
    <span class="vote">This sneaker has <span class="vote-count"><%= "#{@sneaker.number_of_votes}" %></span> likes!</span>
  </div>
</p>

<p>
  <% @sneaker.get_upvotes.each do |vote| %>
    <%= vote.voter.username %>,
  <% end %><span> have liked this sneaker!</span>
</p>

<h3 class="bold">Comments</h3>

<div class="row">
  <span class="small-12 medium-6 large-4 columns">
    <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @sneaker } %>
  </span>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <%= render partial: 'comments/form', locals: { commentable: @sneaker } %>
  </div>
</div>



