<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @sneaker.type_of %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @sneaker.gender %>
</p>

<p>
  <strong>Photo source:</strong>
  <%= @sneaker.photo_source %>
</p>

<p>
  <strong>User:</strong>
  <%= @sneaker.user.email %>
</p>

<p>
  <strong>Make:</strong>
  <%= @sneaker.make.name %>
</p>

<p>
 <%= image_tag @sneaker.image %> 
</p>

<p>
  <strong>Discription:</strong>
  <%= @sneaker.discription %>
</p>

<p>

<%= link_to like_sneaker_path(@sneaker), method: :put, class: "button" do %>
  <span><%= @sneaker.get_upvotes.size %></span>
<% end %>

<% @sneaker.get_upvotes.each do |vote| %>
<p>
  <%= vote.voter.email %>
</p>
<% end %>



</p>
<p><%= link_to 'Edit', edit_sneaker_path(@sneaker) %></p>
<p><%= link_to 'Destroy', @sneaker, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<h4><%= link_to 'Back', sneakers_path %></h4>

